# dev tooling
/.idea/
/*.iml

# dev environment
.env*
!.envrc

# test files
/*.vcf

# build artifacts
/target
/components/web/static/
/components/web/node_modules/

# local conf override
opencode.json
